<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleClover"
        tools:targetApi="31">
        <activity
            android:name=".fragments.UserGuideFragment"
            android:exported="false"
            android:parentActivityName=".fragments.UserFragment"/>
        <activity
            android:name=".fragments.UserFragment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.MapFragment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.SignupFragment"
            android:exported="true"
            android:parentActivityName=".fragments.WelcomeFragment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.WelcomeFragment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragments.LoginFragment"
            android:exported="true"
            android:parentActivityName=".fragments.WelcomeFragment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.UploadFragment"
            android:exported="true"
            android:parentActivityName=".fragments.HomeFragment"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fragments.HomeFragment"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".fragments.LoginFragment"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZO2aZS3He5EvhE7W3Z3-2H2-kUdUsl2c" />

        <service
            android:name=".FirebaseCloudMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>



</manifest>